$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$fontColor: white;
$contentBackground: rgb(102,103,1);
$bodyBackground: rgb(100,153,0);
$hColor: rgb(255,204,12);
$fontStyle: normal;
$imgPadding: 10px;
$border: 1px solid white;
$aColor:$hColor;
$briefWidth: 96%;
$backgroundColor: rgb(103,125,1);
$briefMargin: 5px 0 30px 0; 
$tableWidth: 100%;
$thColor: rgb(148,163,78);
$thBorder: none;
$tableBackground: rgb(101,126,0);