$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$fontColor: black;
$contentBackground: #fff;
$bodyBackground: rgb(221,188,155);
$hColor: rgb(139,61,0);
$fontStyle: italic;
$imgPadding: 3px;
$border: 3px solid $hColor;
$aColor:none;
$briefWidth: 300px;
$backgroundColor: rgb(250,220,186);
$briefMargin: 5px 30px 30px 0; 
$tableWidth: 780px;
$thColor: rgb(224,224,224);
$thBorder: 2px solid #fff;
$tableBackground: white;


